@tailwind base;
@tailwind components;
@tailwind utilities;

.dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 300px;
    width: 600px;
    padding: 2rem;
    border-radius: 4px;
  }

